.home-image {
    position: relative;
    height: 100vh;
}

.intro {
    font-family: 'Bebas Neue', sans-serif;
    color: #575759;
    font-size: 6rem;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

.mount {
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6rem;
    margin: 0;
    padding-top: 0;
    background: -webkit-linear-gradient(#3D3D84, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}