.home-image {
  position: relative;
  height: 100vh;
}

.intro {
  font-family: "Bebas Neue", sans-serif;
  color: #575759;
  font-size: 8rem;
  position: relative;
  margin-top: 7rem;
  top: 15rem;
  right: 2rem;
  padding: 0;
  line-height: 70px;
  letter-spacing: 5px;
}

.mount {
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  font-size: 8rem;
  line-height: 105px;
  letter-spacing: 9px;
  top: 15rem;
  right: 2rem;
  margin: 0;
  padding-top: 0;
  background: -webkit-linear-gradient(#3d3d84 35%, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trans {
  object-fit: cover;
  width: 120rem;
  position: relative;
  right: 10rem;
}